@import '_common'
@import 'compass/typography/text/replacement'

.header
  position: fixed
  top: 0
  right: 0
  left: 0
  text-align: center
  height: $header-height
  z-index: 9
  border-bottom: 1px solid $border-color
  +translate3d(0, 0, 0)
  +transition(background-color, 0.25s)
  &.is-active
    background-color: white
    background-color: rgba(white, 0.99)
.header-artsy-logo,
.header-folio-logo
  background-size: contain
  background-repeat: no-repeat
  background-position: center center
  +hide-text
.header-artsy-logo
  position: absolute
  top: 0
  left: $unit
  width: 100px
  height: $header-height
  background-image: url(image-path('artsy.svg'))
.header-folio-logo
  display: inline-block
  width: 100px
  height: $header-height
  background-image: url(image-path('folio.svg'))
.header-text
  position: absolute
  top: 0
  right: 0
  bottom: 0
  +avant-garde
  font-size: 13px
  line-height: $header-height
  vertical-align: middle
  > a
    display: inline-block
    border-left: 1px solid $border-color
    border-bottom: none
    padding: 0 ($unit * 2)
    line-height: ($header-height / 1.5)
