%section.section{ class: "section-#{i + 1}" }
  .section-inner
    .section-meta
      %h2.section-headline= section.headline
      .section-description
        = render_markdown(section.description)
      .section-cta
        %a.button.section-cta-button{ href: '#' }
          Get Folio
    .section-image
      = image_tag section.image
