<header class='header'>
  <div class='header-artsy-logo'>Artsy</div>
  <div class='header-folio-logo'>Folio</div>
  <div class='header-text'>Artsy for Galleries</div>
</header>

<% data.sections.each_with_index do |section, i| %>
  <section class='section section-<%= i + 1 %>'>
    <div class='section-inner'>

      <div class='section-meta'>
        <h2 class='section-headline'><%= section.headline %></h2>
        <div class='section-description'>
          <%= section.description %>
        </div>
        <div class='section-cta'>
          <a href='#' class='button section-cta-button'>Get Folio</a>
        </div>
      </div>

      <div class='section-image'>
        <%= image_tag section.image %>
      </div>

    </div>

    <% if i == 0 %>
      <a href='#' class='caret push-down'></a>
    <% end %>

  </section>
<% end %>

<section id='cta' class='cta'>
  <div class='cta-inner'>
    <h2 class='section-headline'>Get Folio</h2>
    <div class='section-description'>
      An Artsy representative will reach out to you
      about partnering with Artsy to get Folio.
    </div>
    <form>
      <input type='text' class='bordered-input' placeholder='Name'>
      <input type='email' class='bordered-input' placeholder='Email'>
      <a href='#' class='button is-block'>Send</a>
    </form>
  </div>
</section>

<footer class='footer'>
  Already a partner of Artsy?
  <a href='https://itunes.apple.com/us/app/artsy-folio/id504862164'>Download Folio</a>
</footer>
